<%= form_with(model: post, local: true, html: {multipart:true}) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if post.image.file? %>
    <%= image_tag post.image.url(:medium) %>
  <% end %>

  <div class="field">
    <%= form.label :contents %>
    <%= form.text_field :contents, id: :post_contents %>
  </div>

  <div class="file">
    <%= form.label :image %>
    
    <%= form.file_field :image, id: :post_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
